[ProductList]
sorting = "no"

[viewBag]
==
{# Get product collection #}
{% if obActiveCategory is not empty %}

{% set obProductList = ProductList.make().sort(ProductList.getSorting()).active().category(obActiveCategory.id, true) %}
{% else %}
{% set obProductList = ProductList.make().sort(ProductList.getSorting()).active() %}
{% endif %}
{# Get array with pagination buttons #}
{% set iPage = Pagination.getPageFromRequest() %}
{% set iCount = obProductList.count() %}

{# Apply pagination to product collection and get array with product items #}
{% if search %}
    {% set arProductList = ProductList.filterProductList(obProductList.page(iPage, Pagination.getCountPerPage()), search) %}
    
{% else %}
    {% set arProductList = obProductList.page(iPage, Pagination.getCountPerPage()) %}
{% endif %}

{% if arProductList is not empty %}
{# Render product list #}
<div class="shop-grid-list-view-tab-content">
    <div class="tab-content">
        <!-- Shop Grid View -->
        <div class="tab-pane fade active show" id="shop_grid_view">
            <div class="shop-grid-view-tab-content-inner">
                <div class="row">
                    {% for obProduct in arProductList %}
                    <div class="col-xl-3 col-lg-4 col-6">
                        {% partial 'product/product-card' obProduct=obProduct %}
                    </div>
                    {% endfor %}
                    <div class="col-lg-12">
                        {% partial 'product/pagination' iCount=iCount iPage=iPage %}
                    </div>
                </div>

            </div>
        </div>
        <div class="tab-pane fade" id="shop_list_view">
            <div class="shop-list-view-tab-content-inner">
                <div class="row">
                    {% for obProduct in arProductList %}
                    <div class="col-12">
                        {% partial 'product/product-card-lage' obProduct=obProduct %}
                    </div>
                    {% endfor %}
                    <div class="col-lg-12">
                        {% partial 'product/pagination' iCount=iCount iPage=iPage %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div>
    Không có sản phẩm nào.
</div>
{% endif %}