[viewBag]
==

{# Get active shipping type and payment method #}
{% set obShippingTypeList = ShippingTypeList.make().active().sort() %}
{% set obActiveShippingType = obShippingTypeList.first() %}

{% set obPaymentMethodList = PaymentMethodList.make().active().sort() %}
{% set obActivePaymentMethod = obPaymentMethodList.first() %}

{# Get cart positions #}
{% set obCartPositionList = Cart.get(obActiveShippingType, obActivePaymentMethod) %}
{# Get array with applied coupons #}
{% set arCouponList = Cart.getAppliedCouponList() %}
<!-- SHOPING CART AREA START -->
<div class="account-login-area margin-bottom-100 mobile-mt-65  mobile-mb-75">
    <div class="herboil__section-title  banner-cart checkout-image ">
        <h4 class="section-title-2">Thanh Toán</h4>
    </div>
    <div class="container">
        <!-- <div class="row">
            <div class="col-lg-12">
                <div class="herboil__section-title text-center">
                    <h4 class="section-title-2">Kiểm Tra Giỏ Hàng</h4>
                </div>
            </div>
        </div> -->
        <div class="shopping-cart-info shipping-info">
            <div class="row">
                <div class="col-xl-12">
                    <div class="shoping-cart-inner shipping-info-inner">
                        <div class="row">
                            <div class="col-xl-6 col-md-5">
                                <div class="shipping-address">
                                    <h4>Thông Tin Khách Hàng</h4>
                                    <form href="" action="#" class="form-input-box">
                                        <label>Họ Và Tên*</label>
                                        <input type="text" id="name" name="name">
                                        <p id="error-name" style="color: red"></p>
                                        
                                        <label>Số điện thoại*</label>
                                        <input type="text" id="phone" name="phone">
                                        <p id="error-phone" style="color: red"></p>

                                        <label>Thành phố / Tỉnh*</label>
                                        <select id="province_select" class="form-control custom-select"
                                            data-minimum-input-length="2" data-ajax--delay="300" select-no-search>
                                            <option value="404" selected="selected">Chọn tỉnh/thành phố</option>
                                        </select>
                                        <p id="error-province" style="color: red"></p>

                                        <label>Quận/huyện*</label>
                                        <select id="district_select" class="form-control custom-select"
                                            data-minimum-input-length="2" data-ajax--delay="300" select-no-search>
                                        </select>
                                        <p id="error-district" style="color: red"></p>

                                        <label>Địa chỉ chi tiết*</label>
                                        <input type="text" id="address-detail" name="address">
                                        <p id="error-detail" style="color: red"></p>

                                    </form>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-7">
                                <div class="shoping-cart-total-area mobile-mt-75 tab-mt-80">
                                    <div class="shoping-cart-total-inner">
                                        <h4>Tổng Tiền</h4>
                                        <div class="table-content table-responsive mb-50">
                                            {% if obCartPositionList.isNotEmpty() %}
                                            <table class="shoping-cart-total-table payment-details">
                                                <tbody>
                                                    <tr>
                                                        <td>Tạm Tính: </td>
                                                        <td id="tamtinh">{{
                                                            Cart.StringToInt(obCartPositionList.getTotalPrice()) |
                                                            number_format(0,"",",") }} {{
                                                            obCartPositionList.getCurrency() }}</td>
                                                    </tr>
                                                    <!-- tr -->
                                                    {% if arCouponList is not empty %}
                                                    <tr>
                                                        <td>Phí giảm: </td>
                                                        {% for obCoupon in arCouponList %}
                                                        <td>{ obCoupon.code }}</td>
                                                        {% endfor %}
                                                    </tr>
                                                    {% endif %}
                                                    <!-- tr -->
                                                    <tr>
                                                        <td>Phí vận chuyển: </td>
                                                        <td id="fee"></td>
                                                    </tr>
                                                    <!-- tr -->
                                                    <tr>
                                                        <td>Tổng Cộng: </td>
                                                        <td><strong id="total">{{
                                                                Cart.StringToInt(obCartPositionList.getTotalPrice()) |
                                                                number_format(0,"",",") }} {{
                                                                obCartPositionList.getCurrency() }}</strong></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            {% endif %}
                                        </div>
                                        <div class="shoping-cart-btn-area shoping-cart-total-btn">
                                            <ul>
                                                <li>
                                                    <div class="btn-wrapper text-center">
                                                        <button id="continue-payment" class="boxed-btn reverse-color" type="submit"
                                                          onclick="continuePayment( {{Cart.StringToInt(obCartPositionList.getTotalPrice())}})" 
                                                          data-toggle="modal" 
                                                         >Tiếp
                                                            tục thanh toán</button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="shipping-method">
                                    <h4>Đơn Vị Vận Chuyển</h4>
                                    {% set obShippingTypeList = ShippingTypeList.make().sort().active() %}
                                    {% if obShippingTypeList.isNotEmpty() %}
                                    <ul>
                                        {% for obShippingType in obShippingTypeList %}
                                        <li>
                                            <input type="radio" id="shipping-type-{{ obShippingType.id }}"
                                                name="shipping_type" checked="{{ obShippingType.id }}" value="{{obShippingType.id}}">
                                            <label for="shipping-type-{{ obShippingType.id }}">{{ obShippingType.name }}
                                                <br>
                                            </label>
                                            <div class="check"></div>
                                        </li>
                                        {% endfor %}
                                        {# <li>
                                            <input type="radio" id="202" name="selector">
                                            <label for="202">BStandard shipping <br> Delivery in 10 to 15 business
                                                days</label>
                                            <div class="check">
                                                <div class="inside"></div>
                                            </div>
                                        </li> #}
                                    </ul>
                                    {% endif %}

                                </div>
                                    <div class="payment-method">
                                    <h4>Phương Thức Thanh Toán</h4>
                                    {% set obPaymentMethodList = PaymentMethodList.make().sort().active() %}
                                    {% if obPaymentMethodList.isNotEmpty() %}
                                    <div>

                                        {% for obPaymentMethod in obPaymentMethodList %}
                                        <input type="radio" id="payment-method-{{ obPaymentMethod.id }}" checked="{{ obPaymentMethod.id }}"
                                            name="payment_method" value="{{ obPaymentMethod.id }}">
                                        <label for="payment-method-{{ obPaymentMethod.id }}">{{ obPaymentMethod.name
                                            }}</label>
                                        <span> : Thanh toán [ {{ obPaymentMethod.name }} ]</span> <br>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SHOPING CART AREA END -->

<!-- Popup checkout -->
<div id="popupcheckout" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title title-popupcheckout">Chi tiết đơn hàng</h4>
                <div class="loader">
                    <div class="loader__image">
                        <div class="loader__coin">
                            <img src="https://www.dropbox.com/s/fzc3fidyxqbqhnj/loader-coin.png?raw=1" alt="">
                        </div>
                        <div class="loader__hand">
                            <img src="https://www.dropbox.com/s/y8uqvjn811z6npu/loader-hand.png?raw=1" alt="">
                        </div>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <th>Khách hàng</th>
                        <th id="name-customer"></th>
                    </tr>

                    <tr>
                        <td>Số điện thoại</td>
                        <td id="phone-customer"/>
                    </tr>
                    {% for obCart in obCartPositionList %}
                    {% set obOffer = obCart.item %}
                    {% set obProduct = obOffer.product %}
                    <tr>
                        <td>{{ obProduct.name }}</td>
                        <td>{{ Cart.StringToInt(obCart.price) | number_format(0,"",".") }} đ</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>Địa chỉ giao hàng</td>
                        <td id="address-express"/>
                    </tr>

                    <tr>
                        <td>Đơn vị vận chuyển</td>
                        <td>Giao hàng tiết kiệm</td>
                    </tr>
                    <tr>
                        <td>Phí giao hàng</td>
                        <td id="fee-express"/>
                    </tr>

                    <tr>
                        <td>Tổng tiền</td>
                        <td id="total-payment"/>
                    </tr>


                </table>

               {# <div class="grateful">Cảm ơn bạn. Đơn hàng của bạn đã được nhận</div> #}

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="comfirm-order" onclick="comfirm()">Xác nhận</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>