[Cart]
==
{# Get cart positions #}
{% set obCartPositionList = Cart.get() %}
{% if obCartPositionList.isNotEmpty() %}
<div class="header">
    <a href="/arome/cart">
        <i class="fa fa-shopping-basket"></i>
        <span class="item_txt"> Giỏ hàng <span class="item_count">{{obCartPositionList.count()}}</span></span> -
        <span class="item_total">{{ Cart.StringToInt(obCartPositionList.getTotalPrice()) | number_format(0,"",".") }} {{ obCartPositionList.getCurrency() }}</span>
    </a>
    <div class="body">
        <div class="price_content">
            {% partial 'cart/cart-position' obCartPosition=obCartPositionList %}
            <div class="cart-total price_inline">
                <span class="label">Tổng</span>
                <span class="value">{{ Cart.StringToInt(obCartPositionList.getTotalPrice()) | number_format(0,"",".") }} {{
                    obCartPositionList.getCurrency() }}</span>
            </div>
        </div>
        <div style="display: flex;">
            <div class="checkout col-6" style="padding-right: 0;">
                <a href="/arome/checkout">Thanh toán</a>
            </div>
            <div class="checkout col-6">
                <a href="/arome/cart">Xem Giỏ hàng</a>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="header"> <i class="fa fa-shopping-basket"></i> <span class="item_txt"> Giỏ hàng <span class="item_count"></div>
{% endif %}