title = "Chi tiết bài viết"
url = "/blog/post/:slug"
layout = "default"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog/blogcategory"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/blogcategory"
postPage = "blogpost"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "blog/blogcategory"

[blogRelated]
slug = "{{ :slug }}"
results = 5
direction = "desc"
postPage = "blogpost"
==
{% set categories = blogCategories.categories %}
{% set currentCategorySlug = blogCategories.currentCategorySlug %}
<!-- SHOP AREA START -->
<!-- Header -->
<header>
    <div class="banner">
        <div class="container">
            <div class="post-title">
                {% for category in post.categories %}
                <a href="" class="bage">
                    {{ category.name }}
                </a>
                {% endfor %}

                <h1>{{ post.title }}</h1>
                <div class="post-info">
                    <a href="" class="img-icotop">
                        <img src="{{ 'assets/img/blog/1.jpg' | theme }}" alt="">
                        <span>Admin</span>
                    </a>&nbsp;|&nbsp;
                    <div class="post-time">
                        <i class="fa fa-calendar-o"></i>&nbsp;<span>{{ post.published_at.toLocaleDateString | date (' d-m-Y' )}}</span>&nbsp;|&nbsp;
                    </div>
                    <div class="post-time">
                        <i class="fa fa-clock-o"></i>&nbsp;<span>{{ post.published_at | date('H:i') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- body -->
<div class="post-wrap">
    <div class="container">
        <!-- Post Content -->
        <div class="post-content">
            <div class="post-body">
                <!-- <div class="post-share">
                    <div class="social-icon face"><i class="fab fa-facebook-f"></i></div>
                    <div class="social-icon linkedin"><i class="fab fa-linkedin-in"></i></div>
                    <div class="social-icon mail"><i class="fas fa-envelope"></i></div>
                    <div class="social-icon twitter"><i class="fab fa-twitter"></i></div>
                </div> -->

                <article>
                    {% if post.featured_images.count %}
                    <div class="post-text">
                        <p style="font-style: italic; text-align: justify; color: #006EAB;">{{ post.summary }}</p>

                        <p style="text-align: justify;">
                            {{ post.content_html|raw }}
                        </p>
                    </div>
                    {% endif %}

                </article>
            </div>
            <aside>
                <div class="sidebar">
                    <div class="sidebar-title">
                        <h4>Bài viết mới nhất</h4>
                        <div class="header-line"></div>
                        {% for post in posts %}
                        <div class="list-news">
                            {% if post.featured_images.count %}
                            <div class="news-image">
                                {% for image in post.featured_images %}
                                <a href="{{ post.url }}">
                                    <img class="item-image" data-src="{{ image.filename }}" src="{{ image.path }}"
                                        alt="{{ image.description }}">
                                    </img>
                                </a>
                                {% endfor %}
                            </div>
                            <div class="news-content">
                                <a href="{{ post.url }}">
                                    <h6 style="margin:0;">{{ post.title }}</h6>
                                </a>
                                <div class="news-time">
                                    <i class="fa fa-clock-o"></i>&nbsp;{{post.published_at | date ('d-m-Y, H:i')}}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>

                    <div class="sidebar-title">
                        <h4>Tags</h4>
                        <div class="header-line"></div>

                        <div class="cover-listtags">
                            <div class="row">
                                <div class="list-tags col-12">
                                    <div class="row">
                                        <div class="listitem col-12">
                                            {% for tag in post.tags %}
                                            <a href="">{{tag.name}}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </aside>
        </div>
        <!-- Post Content End -->

        <!-- Read Add  -->
        <div class="read-add">
            <div class="title-read">
                <h4>Bài viết khác</h4>
                <div class="line-post"></div>
            </div>

            <div class="wrap-readadd">
                <div class="row">
                    {% for post in posts%}
                    <div class="col-lg-4 col-md-4 col-xs-12 mb-5">
                        {% if post.featured_images.count %}
                        <div class="port-card">
                            {% for image in post.featured_images %}
                            <div class="image-readadd">
                                <a href="{{ post.url }}">
                                    <img data-src="{{ image.filename }}" src="{{ image.path }}"
                                        alt="{{ image.description }}">
                                    {% for category in post.categories %}
                                    {% set postCount = category.post_count %}
                                    <a href="{{category.url}}" class="bage">{{category.name}}</a>
                                    {% endfor %}
                                </a>
                            </div>
                            {% endfor %}
                            <a href="{{post.url}}">
                                <h4>{{ post.title }}</h4>
                            </a>
                            <div class="info-card">
                                <div class="card-info-block">
                                    <i></i> <span>{{ post.published_at | date ('d-m-Y, H:i') }}</span> 
                                    {#| <i></i> <span>15 min read</span> #}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}

                    {# <div class="col-lg-4 col-md-4 col-xs-12">
                        <div class="port-card">
                            <a href="">
                                <img src="public/images/HinhMangeStore/post/readpost-1.jpeg" alt="">
                            </a>
                            <h4>Ví dụ áp dụng Random forest cho bài toán Demand Forecasting</h4>
                            <div class="info-card">
                                <div class="card-info-block">
                                    <i></i> <span>Nov 21, 2020</span> | <i></i> <span>15
                                        min read</span>
                                </div>
                            </div>
                        </div>
                    </div> #}

                    {# <div class="col-lg-4 col-md-4 col-xs-12">
                        <div class="port-card">
                            <a href="">
                                <img src="public/images/HinhMangeStore/post/readpost-1.jpeg" alt="">
                            </a>
                            <h4>Ví dụ áp dụng Random forest cho bài toán Demand Forecasting</h4>
                            <div class="info-card">
                                <div class="card-info-block">
                                    <i></i> <span>Nov 21, 2020</span> | <i></i> <span>15
                                        min read</span>
                                </div>
                            </div>
                        </div>
                    </div> #}
                </div>
            </div>
        </div>
        <!-- Read Add End -->
    </div>
</div>
{# <div class="blog-details-area padding-top-115 padding-bottom-120 mobile-pt-70 mobile-pb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                {% if post.featured_images.count %}
                <div class="blog-details-inner">
                    <div class="blog-details-head text-center">
                        <div class="blog-meta">
                            <ul>
                                <li>{{ post.published_at|date('M d, Y') }} {% if
                                    post.categories.count %} in {% endif %}</li>
                                <li>By: <a href="#">Admin</a></li>
                            </ul>
                        </div>
                        <h3 class="blog-title"><a href="{{post.url}}">{{ post.title }}</a></h3>
                        <div class="blog-meta blog-meta-2">
                            <ul>
                                <li><a href="#"><i class="fa fa-comment"></i>5 comments</a></li>
                            </ul>
                        </div>
                    </div>
                    {% for image in post.featured_images %}
                    <a href="{{post.url}}">
                        <img data-src="{{image.filename}}" src="{{image.path}}" alt="{{image.description}}">
                    </a>

                    {% endfor %}
                    <p>{{ post.content }}</p>

                    <div class="row">
                        {% for image in post.featured_images %}
                        <div class="col-lg-5">
                            <a href="{{post.url}}">
                                <img data-src="{{image.filename}}" src="{{image.path}}" alt="{{image.description}}">
                            </a>
                        </div>
                        {% endfor %}
                        <div class="col-lg-7">
                            <h3>Proin ligula nulla, scelerisque quis</h3>
                            <p>Donec dapibus mauris id odio ornare tempus. Duis sit amet accumsan justo,
                                quis tempor ligula. Quisque quis pharetra felis. Ut quis consequat orci, at
                                consequat felis. Suspendisse auctor laoreet placerat. Nam et risus non lacus
                                dignissim lacinia sit amet nec eros. Nulla vel urna quis libero pharetra varius.
                                Nulla tellus nunc, malesuada at scelerisque eget, cursus at eros. Maecenas
                                pellentesque lacus quis erat eleifend sagittis. Sed vel maximus ante, quis
                                mattis neque. Nullam dapibus erat sed nulla cursus accumsan. Nulla volutpat
                                libero lacinia venenatis sodales. Ut in pellentesque velit.</p>
                        </div>
                    </div>
                    <h3>Integer eu arcu vel arcu suscipit ultrices quis non</h3>
                    <div class="h-video-popup-1">
                        <img src="assets/img/blog/blog-details/2.jpg" alt="#">
                        <a href="../../embed/18OywdkVT2o.html?autoplay=1&showinfo=0" data-rel="lightcase"><i
                                class="fa fa-play"></i></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis risus mi. Ut placerat quam
                        lectus. Curabitur dictum velit non lacus ornare tempor. Nullam quis augue in leo aliquet
                        malesuada sit amet eget eros. Sed laoreet posuere velit sit amet varius. Nulla eget purus non
                        erat fringilla sodales vel a nulla. Cras sit amet tempus risus. Fusce dignissim blandit justo,
                        eget elementum risus tristique a. Nunc fringilla lacus lacus, sit amet accumsan est pulvinar
                        non. Praesent tristique enim lorem. Phasellus a auctor lacus. Proin vitae accumsan nunc.</p>

                    <!-- blog-single-tag-social -->
                    <div class="blog-single-tag-social">
                        <div class="blog-single-tag tags-widget">
                            <ul>
                                <li><a href="#">Beard Oil</a></li>
                                <li><a href="#">Conditioner</a></li>
                                <li><a href="#">Utility Bar</a></li>
                                <li><a href="#">Styling Balm</a></li>
                                <li><a href="#">Olive Oil</a></li>
                            </ul>
                        </div>
                        <div class="product-share social-media">
                            <span class="pro-meta-title">Share: </span>
                            <ul>
                                <li><a href="#"><i class="icon-Group-177"></i></a></li>
                                <li><a href="#"><i class="icon-Group-179"></i></a></li>
                                <li><a href="#"><i class="icon-Group-180"></i></a></li>
                                <li><a href="#"><i class="icon-Group-181"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endif %}

                <!-- blog-prev-next-area -->
                <div class="blog-prev-next-area">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="blog-prev-next-inner">
                                <h4><a href="blog-details.html">
                                        <i class="fa fa-angle-double-left"></i><span class="blog-p-n">Previous
                                            Post</span><br>
                                        Neckbeards: Everything You Wanted
                                    </a></h4>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="blog-prev-next-inner text-right">
                                <h4><a href="blog-details.html">
                                        <span class="blog-p-n">Next Post</span><i
                                            class="fa fa-angle-double-right"></i><br>
                                        Neckbeards: Everything You Wanted
                                    </a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- blog-author-area -->
                <div class="blog-author-area text-center">
                    <p class="author-title">Author </p>
                    <h4 class="author-name">Brandon Gibson</h4>
                    <div class="social-media">
                        <ul>
                            <li><a href="#"><i class="icon-Group-177"></i></a></li>
                            <li><a href="#"><i class="icon-Group-179"></i></a></li>
                            <li><a href="#"><i class="icon-Group-180"></i></a></li>
                            <li><a href="#"><i class="icon-Group-181"></i></a></li>
                        </ul>
                    </div>
                    <div class="author-brief">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis risus mi. Ut placerat quam
                            lectus. Curabitur dictum velit non lacus ornare tempor. Nullam quis augue in leo aliquet
                            malesuada sit amet eget eros. Sed laoreet posuere velit sit amet varius. </p>
                    </div>
                </div>
                <!-- comments-area -->
                <div class="blog-comment-area comments-area">
                    <div class="row">
                        <div class="col-xl-8 col-lg-12">
                            <h4 class="title-1">Comments</h4>
                            <div class="comments-inner">
                                <div class="comments-item clearfix">
                                    <div class="commenter-img">
                                        <img src="assets/img/others/author-1.jpg" alt="#">
                                    </div>
                                    <div class="comments-excerpt">
                                        <div class="commenter-name-date  clearfix">
                                            <h4><a href="#">Jacisa Fadisis</a></h4>
                                            <div class="comments-date"><span>28 Sep 2019</span></div>
                                        </div>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the
                                            majority have alteration in some form, by injected humour, or randomised
                                            words which don't look even slightly believable. </p>
                                    </div>
                                    <div class="comments-item comments-children clearfix">
                                        <div class="commenter-img">
                                            <img src="assets/img/others/author-2.jpg" alt="#">
                                        </div>
                                        <div class="comments-excerpt">
                                            <div class="commenter-name-date  clearfix">
                                                <h4><a href="#">Jacisa Fadisis</a></h4>
                                                <div class="comments-date"><span>28 Sep 2019</span></div>
                                            </div>
                                            <p>There are many variations of passages of Lorem Ipsum available, but the
                                                majority have alteration in some form, by injected humour, or randomised
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="comments-item clearfix">
                                    <div class="commenter-img">
                                        <img src="assets/img/others/author-3.jpg" alt="#">
                                    </div>
                                    <div class="comments-excerpt">
                                        <div class="commenter-name-date  clearfix">
                                            <h4><a href="#">Jacisa Fadisis</a></h4>
                                            <div class="comments-date"><span>28 Sep 2019</span></div>
                                        </div>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the
                                            majority have alteration in some form, by injected humour, or randomised
                                            words which don't look even slightly believable. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="comments-form-area">
                                <h4 class="title-1">Write a Comment</h4>
                                <form action="#" class="comments-from">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label>Name*</label>
                                            <input type="text" name="name" placeholder="Rumaisa">
                                        </div>
                                        <div class="col-lg-6">
                                            <label>Email*</label>
                                            <input type="text" name="email" placeholder="Email...">
                                        </div>
                                        <div class="col-lg-12">
                                            <textarea name="message"
                                                placeholder="Hello there, I wanted to enquire about…"></textarea>
                                            <div class="btn-wrapper">
                                                <button class="boxed-btn black-btn" type="submit">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> #}
<!-- SHOP AREA END -->