title = "Giỏ hàng"
url = "/cart"
layout = "default"
is_hidden = 0

[Cart]
==
<!-- SHOPING CART AREA START -->
<input type="hidden" id="checkUser">
<div class="shoping-cart-area  margin-bottom-100 mobile-mt-65  mobile-mb-75">
    <div class="banner-cart cart-image ">
        <h4 class="section-title-2">Giỏ hàng</h4>
    </div>
    <div class="container">
        <!-- <div class="row">
            <div class="col-lg-12">
                <div class="herboil__section-title text-center banner-cart cart-image ">
                    <h4 class="section-title-2">Giỏ hàng</h4>
                </div>
            </div>
        </div> -->
        {% set obCartPositionList = Cart.get() %}
        {% if obCartPositionList.isNotEmpty() %}
        <div class="row">
            <div class="col-xl-7 col-lg-7 mt-5">
                <div class="shoping-cart-inner">
                    <div class="table-content table-responsive mb-50">
                        <table class="shoping-cart-table">
                            <tbody class="checkItem">
                                {% for obCartPosition in obCartPositionList %}
                                {% partial 'cart/cart' obCartPosition=obCartPosition %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="shoping-cart-btn-area">
                        <ul>
                            <li>
                                <div class="btn-wrapper">
                                    <a class="boxed-btn" href="#">Sử dụng mã khuyến mại</a>
                                </div>
                            </li>
                            <li>
                                <div class="btn-wrapper">
                                    <a class="boxed-btn btn-black black-btn" href="#">Cập nhật giỏ hàng</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 offset-xl-1 col-lg-5 mt-5">
                <div class="shoping-cart-total-area mobile-mt-75 tab-mt-80">
                    <div class="shoping-cart-total-inner">
                        <h4>Tổng Tiền</h4>
                        <div class="table-content table-responsive mb-50">
                            <table class="shoping-cart-total-table payment-details">
                                <tbody>
                                    <tr>
                                        <td>Tạm Tính:</td>
                                        <td>{{ Cart.StringToInt(obCartPositionList.getTotalPrice()) | number_format(0,"",".") }} {{
                                            obCartPositionList.getCurrency() }}</td>
                                    </tr>
                                    <!-- tr -->
                                    <tr>
                                        <td>Tổng:</td>
                                        <td> <span class="total-price-cart">{{ Cart.StringToInt(obCartPositionList.getTotalPrice()) | number_format(0,"",".")
                                                }}</span> {{
                                            obCartPositionList.getCurrency() }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="shoping-cart-btn-area shoping-cart-total-btn">
                            <ul>
                                <li>
                                    <div class="btn-wrapper">
                                        <a class="boxed-btn  btn-black black-btn btncart" href="/arome/checkout">THANH TOÁN</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="btn-wrapper">
                                        <a class="boxed-btn btn-black black-btn btncart" href="/arome/all-product">TIẾP
                                            TỤC MUA
                                            HÀNG</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div>Cart is empty</div>
        {% endif %}
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="userLogin" tabindex="-1" role="dialog" aria-labelledby="User" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center p-30">
                <h3 style="font-size: 30px;font-weight: bold;"> Bạn chưa đăng nhập</h3>
                <p style="margin-bottom: 7%;">Xin quý khách vui lòng đăng nhập để mua hàng, thanh toán tiện lợi hơn và
                    tận hưởng những ưu đãi hấp dẫn của chúng tôi !</p>
                <!-- <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-primary" id="login">Đăng nhập</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-primary" id="close">Đóng</button>
                    </div>
                </div> -->
                <div class="text-center">
                    <a href="./login">
                        <button type="button" class="btn btn-primary" id="login">Đăng nhập</button>
                    </a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="close">Bỏ qua</button>
                </div>
            </div>
        </div>
    </div>
</div>