description = "navbar menu"

[viewBag]

[staticMenu]
code = "mainmenu"
==

<div class="header-bottom-area" id="header-main">
    <div class="container">
        <div class="row header-bottom-inner">
            <div class="header_logo col-lg-2 col-xl-2 col-md-12 col-xs-12" id="header_logo">
                <a href="{{ 'home' | page }}"><img src="{{ 'assets/img/logo.png' | theme}}" alt="harosa"></a>
                <div class="blockcart cart-preview mobile-view">

                    <div class="mini-cart-wrapper">

                        {% partial 'cart/mini-cart' %}
                    </div>

                    <div class="search-product" class="openBtn" onclick="openSearch()">
                        <i class="fas fa-search"></i>
                    </div>
                </div>

            </div>
            <div class="menu col-xs-12 col-lg-10 col-xl-10 col-md-12" id="menu">
                <div class="col-right col-xs-12 col-lg-12 col-xl-12 col-md-12 display_top">
                    <!-- main-menu -->
                    <div class="main-menu">
                        <nav>
                            {% component 'staticMenu' %}
                        </nav>
                    </div>
                    <div class="mobile-menu-area">
                        <div class="mobile-menu">
                            <nav id="mobile-menu-active">
                                <ul class="menu-overflow">
                                    <div class="block-search-mobile">
                                        <div id="search_widget-mobile" class="search_top">
                                            <form method="get" action="#">
                                                <!-- <input type="text" name="search" value="" placeholder="Tìm kiếm..."
                                                    class="text_input">
                                                <button type="submit" class="button-mobile"><i
                                                        class="fa fa-search"></i></button> -->
                                            </form>
                                        </div>
                                    </div>
                                    {% for item in staticMenu.menuItems %}
                                    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="blockcart cart-preview">
                        <div class="block-search  dropdown js-dropdown">
                            <span class="search-icon"><i class="fa fa-search"></i></span>
                            <div id="search_widget" class="search_top dropdown-menu">
                                <form id="form-search-pc" data-request="ProductList::onSearchProductList">
                                    <input class="text_input" id="search-pc" name="search-pc" value="" placeholder="Nhập sản phẩm cần tìm và nhấn Enter..."
                                        type="text">
                                    <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
                                </form>
                            </div>
                        </div>
                        <div class="mini-cart-wrapper desktop-view">
                            {% partial 'cart/mini-cart' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{# <div class="header-bottom-area" id="header-main">
    <div class="nav-style-01-wrap">
        <div class="herboil__navbar-area navbar-area navbar-style-1">
            <div class="container">
                <div class="row header-bottom-inner">
                    <div class="header_logo col-lg-2 col-xl-2 col-md-12 col-xs-12" id="header_logo">
                        <a href="{{ 'home' | page }}"><img src="{{ 'assets/img/logo.png' | theme}}" alt="harosa"></a>
                        <!-- <div class="blockcart cart-preview mobile-view">
                            <div class="mini-cart-wrapper">
                                {% partial 'cart/mini-cart' %}
                            </div>
                        </div> -->
                    </div>
                    <div class="col-xs-12 col-lg-10 col-xl-10 col-md-12">
                        <div class="mobile-menu"></div>
                        <div class="herboil__navbar-inner">
                            <div class="herboil__navbar">
                                <nav>
                                    <ul>
                                        <li><a href="{{ 'home' | page }}">TRANG CHỦ <i class="fa fa-angle-down"></i></a>
                                        </li>
                                        <li><a href="{{ 'about' | page }}">VỀ CHÚNG TÔI</a></li>
                                        <li><a href="#">Shop <i class="fa fa-angle-down"></i></a>
                                            <ul>
                                                <li><a href="{{ 'all-product' | page }}">SẢN PHẨM</a></li>
                                                <li><a href="shop-sidebar.html">Shop Sidebar</a></li>
                                                <li><a href="product-details.html">Product Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{ 'blog' | page }}">Blog <i class="fa fa-angle-down"></i></a>
                                        </li>

                                        <li><a href="{{ 'contact' | page }}">LIÊN HỆ</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="header-search-minicart">
                                <!-- Search -->
                                <div class="header-search">
                                    <form action="#" class="form-input-box">
                                        <input type="text" placeholder="Search...">
                                        <button type="submit"><i class="icon-Group-6703"></i></button>
                                    </form>
                                </div>
                                <!-- Mini Cart -->
                                <div class="herboil__mini-cart">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="icon-Group-6704"></i><span><span
                                                        class="cart-text">CART</span> [ 3 ]</span></a>
                                            <ul class="mini-cart-wrapper">
                                                <li>
                                                    <div class="mini-cart-item">
                                                        <div class="mini-cart-item-img">
                                                            <a href="product-details.html"><img
                                                                    src="assets/img/product/1.jpg" alt="#"></a>
                                                        </div>
                                                        <div class="mini-cart-item-content">
                                                            <h4><a href="product-details.html">CBD Beard Oil</a></h4>
                                                            <span>1 x $149.00</span>
                                                            <span class="remove"><a href="#"><i
                                                                        class="fa fa-trash"></i></a></span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="mini-cart-item">
                                                        <div class="mini-cart-item-img">
                                                            <a href="product-details.html"><img
                                                                    src="assets/img/product/2.jpg" alt="#"></a>
                                                        </div>
                                                        <div class="mini-cart-item-content">
                                                            <h4><a href="product-details.html">Crown'd Beard Oil</a>
                                                            </h4>
                                                            <span>1 x $99.00</span>
                                                            <span class="remove"><a href="#"><i
                                                                        class="fa fa-trash"></i></a></span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="mini-cart-item">
                                                        <div class="mini-cart-item-img">
                                                            <a href="product-details.html"><img
                                                                    src="assets/img/product/3.jpg" alt="#"></a>
                                                        </div>
                                                        <div class="mini-cart-item-content">
                                                            <h4><a href="product-details.html">Cremo Beard Oil</a></h4>
                                                            <span>1 x $89.00</span>
                                                            <span class="remove"><a href="#"><i
                                                                        class="fa fa-trash"></i></a></span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="mini-cart-item">
                                                        <h4>Subtotal: <strong class="pull-right">$337.00</strong></h4>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="mini-cart-item">
                                                        <div class="btn-wrapper">
                                                            <a href="cart.html" class="boxed-btn">View Cart</a>
                                                            <a href="checkout.html"
                                                                class="boxed-btn pull-right">Checkout</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>#}

{# <div class="header-bottom-area" id="header-main">
    <div class="container">
        <div class="row header-bottom-inner">
            <div class="header_logo col-lg-2 col-xl-2 col-md-12 col-xs-12" id="header_logo">
                <a href="{{ 'home' | page }}"><img src="{{ 'assets/img/logo.png' | theme}}" alt="harosa"></a>
                <div class="blockcart cart-preview mobile-view">
                    <div class="mini-cart-wrapper">
                        {% partial 'cart/mini-cart' %}
                    </div>
                </div>
            </div>
            <div class="menu col-xs-12 col-lg-10 col-xl-10 col-md-12" id="menu">
                <div class="col-right col-xs-12 col-lg-12 col-xl-12 col-md-12 display_top">
                    <!-- main-menu -->
                    <div class="main-menu">
                        <nav>
                            {% component 'staticMenu' %}
                        </nav>
                    </div>
                    <div class="mobile-menu-area">
                        <div class="mobile-menu"></div>
                        <div class="herboil__navbar-inner">
                            <div class="herboil__navbar">
                                <nav>
                                    <ul>
                                        <li><a href="">Home <i class="fa fa-angle-down"></i></a>

                                        </li>
                                        <li><a href="about.html">About us</a></li>
                                        <li><a href="#">Shop <i class="fa fa-angle-down"></i></a>
                                            <ul>
                                                <li><a href="shop.html">Shop</a></li>
                                                <li><a href="shop-sidebar.html">Shop Sidebar</a></li>
                                                <li><a href="product-details.html">Product Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Blog <i class="fa fa-angle-down"></i></a>
                                            <ul>
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="blog-sidebar.html">Blog Sidebar</a></li>
                                                <li><a href="blog-details.html">Blog Details</a></li>
                                            </ul>
                                        </li>

                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>

                        </div>
                    </div>
                    <div class="blockcart cart-preview">
                        <div class="block-search  dropdown js-dropdown">
                            <span class="search-icon"><i class="fa fa-search"></i></span>
                            <div id="search_widget" class="search_top dropdown-menu">
                                <form method="get" action="#">
                                    <input class="text_input" name="s" value="" placeholder="Tìm kiếm..." type="text">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="mini-cart-wrapper desktop-view">
                            {% partial 'cart/mini-cart' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> #}

<!-- Overlay search mobile -->
<div id="myOverlay" class="overlay">
    <span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
    <div class="overlay-content">
        <form action="">
            <input type="text" placeholder="Vui lòng nhập nội dung cần tìm" name="search">
            <p class="search-description">Nhập nội dung cần tìm kiếm và nhấn nút Enter</p>
        </form>
    </div>
</div>