[viewBag]
==
<div class="section_newletter">
    <div class="container">
        <div class="wrap-register">
            <div class="title-register text-center">
                <h3>Đăng ký nhận tin</h3>
                <p>
                    Bạn có thể đăng ký nhận tin khuyến mãi bất cứ lúc nào, những thông tin sẽ được gửi tới bạn nhanh
                    nhất.
                </p>
            </div>
            <div class="main_footer">
                <div class="form-footer">
                    <form class="margin-bottom-0">
                        <input type="email" name="Email" placeholder="Vui lòng nhập email tại đây ..." id="email">
                        <button class="btn btn-primary subscribe" name="subscribe" id="subscribe">
                            <i class="fa fa-paper-plane"></i>&nbsp;
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>